{% extends 'template-admin.html.twig' %}

{% block title %}Modifier évènement{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Modifier évènement</h1>
</div>

<br><br>

<div class="container">
    {{ include('event/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
</div>

{% endblock %}
