{% extends 'template-admin.html.twig' %}

{% block title %}Créer nouvel évènement{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Créer nouvel évènement</h1>
</div>

<br><br>

<div class="container">
    {{ include('event/_form.html.twig') }}
</div>

{% endblock %}
