{% extends 'template-page.html.twig' %}
{% block body %}
<section class="brown">

    <div class="container">
        <div class="colonnes row ">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <img class="about" src="{{ asset('assets/img/legumes.jpg') }}">
            </div>
            <div class="texte_et_titre col-lg-8 col-md-6 col-sm-6 col-xs-12">
                <h3>NOTRE ENGAGEMENT</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus eleifend rhoncus. 
                    Morbi ut diam eu enim lobortis imperdiet non dapibus dui. Ut tristique eget velit vitae imperdiet.
                    Vivamus vitae cursus erat. Duis est enim, condimentum sit amet metus ut, scelerisque 
                </p>
            </div>
        </div>
    </div>
    </section>
    <section class="green">
        <div class="container">

            <div class="colonnes row">
                <div class="texte_et_titre col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <h3>LE CUISINIER</h3>
            
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus eleifend rhoncus. 
                    Morbi ut diam eu enim lobortis imperdiet non dapibus dui. Ut tristique eget velit vitae imperdiet. 
                    Vivamus vitae cursus erat. Duis est enim, condimentum sit amet metus ut, scelerisque</p>
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img class="about" src="{{ asset('assets/img/legumes.jpg') }}">
                </div>
            </div>
        </div>
    </section>
    <section class="brown">

    <div class="container">
        <div class="colonnes row ">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <img class="about" src="{{ asset('assets/img/legumes.jpg') }}">
            </div>
            <div class="texte_et_titre col-lg-8 col-md-6 col-sm-6 col-xs-12">
                <h3>NOTRE ENGAGEMENT</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus eleifend rhoncus. </p>
                    <p>Morbi ut diam eu enim lobortis imperdiet non dapibus dui. Ut tristique eget velit vitae imperdiet. </p>
                    Vivamus vitae cursus erat. Duis est enim, condimentum sit amet metus ut, scelerisque 
            </div>
        </div>
    </div>
    </section>
{% endblock %}
