{% extends 'template-page.html.twig' %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style-about.css') }}">{% endblock %}

{% block body %}
    <h3>A propos</h3>
    <!--première section (notre engagement)-->
    <section class="brown">
        <div class="container">
            <div class="colonnes1 row">
                <div class="col-lg-offset-1 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <img class="about marge dimensions_grand dimensions_milieu" src="{{ asset('assets/img/IMG_5343.JPG') }}">
                </div>
                <div class="texte_et_titre1 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h4>NOTRE ENGAGEMENT</h4>                
                    <p>La fusion de leurs idées, de leurs convictions, de leurs valeurs et de leurs forces leur permet aujourd’hui d’assumer pleinement le projet dont ils sont porteurs. Ils croient en une alimentation durable, respectueuse de son environnement mais également à la revalorisation de tous les acteurs qui permettent la production de leurs sauces.</p>
                </div>
            </div>
        </div>
    </section>
    <!--deuxième section (le cuisinier)-->
    <section class="green">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img class="about marge dimensions" src="{{ asset('assets/img/portrait.jpg') }}">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="colonnes row">
                <div class="texte_et_titre col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="petit">
                        <h4>LE CUISINIER</h4>        
                        <p>Julien a 23 ans et il est cuisinier de formation. C’est lui qui est chargé d’élaborer les recettes si bonnes de nos sauces. Vous pouvez compter sur lui pour qu’elles soient délicieuses car il a travaillé dans de nombreux établissements étoilés !</p>                
                    </div>
                </div>  
                <div class="texte_et_titre col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="petit2">  
                        <h4>LE MANAGER</h4>
                        <p>David a 24 ans et poursuit des études en management après un parcours académique scientifique. Il est en charge de la gestion administrative, stratégique et financière de Skobi.</p>
                    </div>

                </div>
            </div>
        </div>
    
    </section>
    <!--troisième section (le manager)-->
    <!--<section class="brown">
        <div class="container">
            <div class="colonnes1 row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <img class="about" src="{{ asset('assets/img/legumes.jpg') }}">
                </div>
                <div class="texte_et_titre1 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
    </section>-->
{% endblock %}

