{% extends 'template-page.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style-contact.css') }}">{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>CONTACT</h1>
        <div class="d-flex justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-xs-6">
        {{ include('message/_form.html.twig') }} 
            </div>
        </div>   
    </div>
{% endblock %}
