{% extends 'template-page.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/style-fournisseur.css') }}">
{% endblock %}

{% block body %}
    <h3>Nos fournisseurs</h3>

{# Code pour afficher les fournisseurs #}
        <div class="row justify-content-center row_fournisseur">
            {% for fournisseur in fournisseurs %}

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 marge"> 
                
                    <section class="section_ou_img">
                        <figure class="taille">

                            <img class="image" src="{{fournisseur.imageSrc}}">
                            <p class="cache2">{{ fournisseur.content }}</p>                

                        </figure>

                                     
                    </section>
                </div>

                {% else %}
                <div class="col-lg-6 col-md-6 marge" 
                    <section>
                        <h3>Aucun fournisseur trouvé</h3>
                    </section>
                </div>
            {% endfor %}
        </div>

{% block javascripts %}

<!--<script src="{{asset('assets/js/script-fournisseur.js') }}"></script>-->
{% endblock %}

{% endblock %}

