{% extends 'template-index.html.twig' %}

{% block title %}SKOBI{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{asset('assets/css/style-index.css') }}">{% endblock %}


{% block body %}
<div class="container">
<section>
<h2 class="text-center">Nos Produits</h2>
    <div class="row">
        <div class="col-6">    
            <img class="img-fluid" width="500px" height = "300px" src="assets/img/img2.jpg" alt="image de nos produits" >
        </div>
        <div class="col-6">
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
        </div>
        <div class="col-6">
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
        </div>
        <div class="col-6">
            <img class="img-fluid" width="500px" height = "300px"  src="assets/img/img3.jpg" alt="image de nos produits" >
        </div>
        </div>
    </section>

    <section>
        <h2 class="text-center">A propos</h2>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" width="500px" height = "300px" src="assets/img/img4.jpg" alt="image de l'equipe" >
                </div>
                <div class="col-6">
                    <h3 class="text-center">L'équipe</h3>
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
                </div>
            </div>
            <h3 class="text-center">A propos de SKOBI</h3>
            <div class="col-12">
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
            </div>
    </section>

    <section>
        <h2 class="text-center">Evènements</h2>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" width="500px" height = "300px" src="assets/img/evenement.jpg" alt="image des evenements" >
                </div>
                <div class="col-6">
                    <p>A venir : </p>
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
                </div>
            </div>
    </section>

     <section>
        <h2 class="text-center">Nous Contacter</h2>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="assets/img/phone.png" alt="image du telephone" >
                </div>
                <div class="col-4">
                    <a href="{{ path('contact') }}"><img class="img-fluid"  src="assets/img/mail.png" alt="image du mail"></a>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="assets/img/adress.png" alt="image de l'adresse" >
                </div>   
            </div>
    </section>






</div>



   
{% endblock %}
