{% extends 'template-page.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/style-subscribe.css') }}">{% endblock %}

{% block body %}

<div>
    <h3>Inscrivez-vous</h3>

    <div class="container">
    {{ include('user/_form.html.twig') }}
    </div>
 
</div>

{% endblock %}

