{% extends 'template-page.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

<div>
    <h1>S'INSCRIRE</h1>

    {{ include('user/_form.html.twig') }}
 
</div>

{% endblock %}

