body {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: white;
    border-bottom: 1px double black;
    border-top: 1px solid black;   
}

header #navlog a {
    font-size: 1rem;
    color: #B3BE84;
    font-weight: bold;
    padding-right: 1rem;
}

header #navbar a {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    text-transform:uppercase;
    padding-left: 5rem;
}

header #navbar {
    margin-left: 3rem;
    margin-top: 0.5rem;
}

header .logo {
    width: 5rem;
    margin-top: -1.2rem;
    margin-bottom: 0.5rem;
}

header .menu-scroll {
    background-color: white;
    border-bottom: 1px double black;
    border-top: 1px solid black; 
}

footer {
    background-color:#BFa587;
    padding-bottom: 3rem;
}

footer a {
    color: white;
}

footer img {
    height: 3rem;
    margin-top: 3rem;
    padding-right: 1rem;
}

footer p {
    font-size: 1rem;
    margin-top: 2rem;
}

/*POUR LES TABLETTES */
/*Pour tous les médias de type écran ET de largeur maximale 1024px ET minimale 505px */
@media screen and (min-width:505px) and (max-width: 1024px) {

    header #navbar a {
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        text-transform:uppercase;
        padding-left: 1.5rem;
    }

    header #navbar {
        padding-right: 2rem;
        margin-top: 0.7rem;
    }
}

/*POUR LES MOBILES*/
/*Pour tous les médias de type screen ET de largeur maximale 504px */
@media screen and (max-width: 504px) {

    header #navbar a {
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        text-transform:uppercase;
        padding-left: 2rem;
    }

    header #navbar {
        padding-right: 2rem;
        margin-top: 0.7rem;
    }
}