.fournisseur {
    width:600px;
    filter: grayscale(90%);
    filter: contrast(15%);
    text-align:center;    
}

p {
    color:white;
    font-size:24px;
    font-weight:bold;
    text-shadow:1px 1px 1px black;
    opacity:1.5;
    position:absolute;
    top:0;
    left:0;
}

#cache {
    position:absolute;
    top:70%;
    z-index:2;
}

section {
    position:relative;

}

.marge {
    height:400px;
}

#cache {
    display:none;
}

#cache:hover {
    display:block;    
}

.cache2 {
    opacity:0;
    width:70%;
}

.marge:hover .cache2 {
    opacity:1;
}

.marge:hover {
    filter:grayscale(100%);
}

.col-lg-6 {
    padding-right:0px;
}