h3 {
    text-align: center;
    text-transform:uppercase;
    margin-top: 5%;
    margin-bottom: 5%;
}

form {
    border-style:solid;
    border-width:1px;
    border-color:#B3BE84;
    width: 70%;
    margin: 0 auto;
    background-color: #B3BE84;
    margin-bottom: 13%;
}

.form-control {
    width: 70%;
}

.label1 {
    margin-top: 8%;
    margin-left: 15%;
    color: white;
    font-size: 120%;
}

.label2 {
    margin-top: 5%;
    margin-left: 15%;
    color: white;
    font-size: 120%;
}

input {
    margin: 0 auto;
}

.btn {
    margin-left: 40%;
    margin-top: 5%;
}

main p {
    text-align: center;
    margin-top: 3%;
    color: white;
    margin-bottom: 5%;
}

main a {
    color: white;
}

main a:hover {
    color: white;
}