body * {
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;

}

header {
    background-image: url("../img/photo1.jpg"); 
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    /*filter: grayscale(85%);*/
    filter: contrast(85%);
}

nav a {
    color: white;
    font-size: 1.5rem;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 900;
    padding-right: 1.7rem;
    padding-top:2rem;
}

nav a:hover {
    color: #BFa587;
}

header h1 {
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    color: white;
    margin-top: 7rem;
}

header .linklogo {
    display: block;
    text-align: center;
}

header .logo {
    margin-top: 2rem;
    width: 6rem;
}

h2 {
    font-size: 50px;
    font-family: 'Acme', sans-serif;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

h3 {
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bg-light {
    background: #CD853F !important;
}
p.engagement {
    line-height: 2rem;
    border-style:solid;
    border-width:1px;
    border-color:grey;
    padding: 1.5rem;
}


header .p1 {
    color: white;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-top: 5rem;;
}
header .p2 {
    color: white; 
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10rem;
    
}

header .compte {
    text-align: right;
    font-size: 1rem;
   /* margin-top: 1rem; */
    margin-right: 2rem;
    color: green;   
}

@media screen and (min-width:505px) and (max-width: 1024px) {
    header nav a {
         color: white;
         font-size: 1.2rem;
         text-decoration:none;
         text-transform: uppercase;
         font-weight: 900;
         padding-right: 1.7rem;
         padding-top:2rem;
     } 
     header .logo {
         width: 6rem;
     }  
 }
 
 
 @media screen and (min-width:504px) {
  header   nav a {
         color: white;
         font-size: 1.2rem;
         text-decoration:none;
         text-transform: uppercase;
         font-weight: 900;
         padding-right: 1.7rem;
         padding-top:2rem;
     }
     header .logo {
         width: 6rem;
     }   
 } 
 