footer {
    background-color:#AB8E6C;
    height:200px;
    padding-top:40px;
}

footer img {
    height:50px;
    margin-top: 20px;
}

footer li .facebook {
   padding-right: 25px;
   
}

header {
    background-color:#BFa587;
    height: 6rem;
}

header #navlog a {
    font-size: 1rem;
    color: white;
    padding-right: 1rem;
}

header #navbar a {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-transform:uppercase;
    padding-left: 2rem;
}

header #navbar {
    margin-left: 3rem;
}

header .logo {
    width: 5rem;
    margin-top: -1rem;
}





