body * {
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;

}

header {
    background-image: url("../img/photo1.jpg"); 
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    /*filter: grayscale(85%);*/
    filter: contrast(85%);
}

nav ul {
    display:flex;
    padding-left:0;
    list-style:none;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
}

nav li {
    min-width:120px;
    text-align:center;
}

nav a {
    color: white;
    font-size: 1.5rem;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 900;
    padding-right: 1.7rem;
    padding-top:2rem;
}

nav a:hover {
    color: #3E270B;;
}

header h1 {
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    color: white;
    margin-top: 7rem;
}
header nav {
    margin-bottom: 30px;
}

header .p1 {
    color: white;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-top: 5rem;;
}
header .p2 {
    color: white; 
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10rem;
    
}

header .linklogo {
    display: block;
    text-align: center;
}

header .logo {
    margin-top: 2rem;
    width: 6rem;
}
header .p1 {
    color: white;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-top: 5rem;;
}
header .p2 {
    color: white; 
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10rem;
    
}

header .compte {
    text-align: right;
    font-size: 1rem;
   /* margin-top: 1rem; */
    margin-right: 2rem;
    color: green;   
}

h2 {
    font-size: 50px;
    font-family: 'Kurale', serif;
    margin-top: 2.5rem;
    margin-bottom: 10rem;
}

h3 {
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bg-light {
    background: #CD853F !important;
}
p.engagement {
    line-height: 2rem;
    border-style:solid;
    font-family: 'Open Sans', sans-serif;
    border-width:1px;
    border-color:grey;
    padding: 1.5rem;
}
section.partie-1{
    margin-bottom: 5rem;
}

section.partie-2{
    margin: 13rem;
}
section.partie-3 {
    margin-bottom: 5rem;
}
section.partie-4{
    display: block;
    text-align: center;
    margin-bottom: 5rem;
    padding: 5rem;
    margin: 8rem;
}

.rounded-circle{
    border-radius: 50%!important;
    vertical-align: middle;
    width: 80%;
    height: 50%;
    margin-bottom: 5rem;
}
.apropos {
    line-height: 2rem;
    border-style:solid;
    font-family: 'Open Sans', sans-serif;
    border-width:1px;
    border-color:grey;
    padding: 1.5rem;
}

section.partie-5{
    display: block;
    text-align: center;
    margin-bottom: 5rem;
}

 footer {
    background-color:#BFa587;
    padding-bottom: 3rem;
}

footer img {
    height: 3rem;
    margin-top: 3rem;
    padding-right: 1rem;
}

footer p {
    font-size: 1rem;
    margin-top: 2rem;
}

@media screen and (min-width:505px) and (max-width: 1024px) {
    header nav a {
         color: white;
         font-size: 1.2rem;
         text-decoration:none;
         text-transform: uppercase;
         font-weight: 900;
         padding-right: 1.7rem;
         padding-top:2rem;
     } 
     header .logo {
         width: 6rem;
     }  
 }
 
 
 @media screen and (min-width:504px) {
  header   nav a {
         color: white;
         font-size: 1.2rem;
         text-decoration:none;
         text-transform: uppercase;
         font-weight: 900;
         padding-right: 1.7rem;
         padding-top:2rem;
     }
     header .logo {
         width: 6rem;
     }   
 } 
@media screen and (min-width:505px) and (max-width: 1024px) {
    p.engagement {
        line-height: 2rem;
        border-style:solid;
        font-family: 'Raleway', sans-serif;
        border-width:1px;
        border-color:grey;
        padding: 1.5rem;
    }
}
@media screen and (min-width:505px) and (max-width: 1024px) {
    section.partie-4{
        display: block;
        text-align: center;
        margin-bottom: 5rem;
        padding: 4rem;
        margin: 8rem;
    }
    
    .rounded-circle{
        border-radius: 50%!important;
        vertical-align: middle;
        width: 90%;
        height: 15%;
        margin-bottom: 5rem;
    }
    .apropos {
        line-height: 2rem;
        border-style:solid;
        font-family: 'Open Sans', sans-serif;
        border-width:1px;
        border-color:grey;
        padding: 1.5rem;
    }
}