{% extends 'template-admin.html.twig' %}

{% block title %}Créer nouveau message{% endblock %}

{% block body %}

<br><br>

<div class="d-flex justify-content-center">
    <h1>Créer nouveau message</h1>
</div>

<br><br>

<div class="container">
    {{ include('message/_form.html.twig') }}
</div>

<button class="btn btn-secondary">{{ button_label|default('Sauvegarder') }}</button>
<button type="button" class="btn btn-secondary"><a href="{{ path('message_index') }}" class="text-light">Retour à l'index</a></button>

{% endblock %}
